.black {
    background-color: black;
    color: white;
}

.red {
    background-color: #DC3545;
    box-shadow: 0 4px rgb(167, 0, 0);
}

.losing {
    color: red;
}

.tie {
    color: black;
}

.winning {
    color: green;
}

.orange {
    background-color: orange;
    box-shadow: 0 4px rgb(210, 136, 0);
}

.green {
    background-color: #28A745;
    box-shadow: 0 4px green;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.gray {
    background-color:lightgrey;
}

.button {
    color: white;
    border: none;
    border-radius: 5px, 10px;
    min-width: 100px;
    width: 10%;
    font-size: 100%;
}

.button:active {
    box-shadow: 0, 2px;
    transform: translateY(2px);
}

.space-out{
    margin-left: 3px;
}

.center{
    justify-content: center;
}

.wrapper{
    padding-top: 50px;
    padding-bottom: 50px;
}

.lighten{
    font-weight: 300;
}

.largeFont{
    font-size: 40px;
}

.smallerFont{
    font-size: 38px;
}

.bot10{
    padding-bottom: 10px;
}

.top30{
    padding-top: 30px;
}

img {
    width: 20%;
    height: 20%;
    margin-left: auto;
    margin-right: auto;
}

.pic {
    width: 100%;
    justify-content: center;
}

.hidden{
    display: none;
}

.spread{
    justify-content: space-evenly;
}

.column{
    width: 120.27px
}